
<div id="wp-products">
  <h2>SẢN PHẨM CỦA CHÚNG TÔI</h2>
  <ul id="list-products">
    @for (listitems of this.cardServices.itemcard; track listitems;let i= $index) {
      <div class="item">

        <img id="pic"  [src]='listitems.img' alt="">
        <div class="tree">

                            <img src="./assets/img/Cây%20Lưỡi%20Hổ.jpg" alt="" class="avatar">


                            <img src="./assets/img/KimTien.jpg" alt="" class="avatar">


                            <img src="./assets/img/Phát%20Tài.jpg" alt="" class="avatar">


                            <img src="./assets/img/Lan%20Ý.jpg" alt="" class="avatar">


                            <img src="./assets/img/Vạn%20Lộc.jpg" alt="" class="avatar">


        </div>
        <div class="name">{{listitems.name}}</div>
        <div class="desc">{{listitems.description}}</div>
        <div class="price">{{listitems.price}}</div>
        <div class="quatity">{{listitems.quantity}}</div>
        <button
          appearance="primary"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Mua Ngay
        </button>
        <button class="click"(click)="addcard(listitems)">Thêm vào Giỏ Hàng</button>
      </div>
    }
  </ul>

  <div class="list-page">
    <div class="item">
      <a href="">1</a>
    </div>
    <div class="item">
      <a href="">2</a>
    </div>
    <div class="item">
      <a href="">3</a>
    </div>
    <div class="item">
      <a href="">4</a>
    </div>
  </div>
</div>


<div id="comment">
  <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
  <div id="comment-body">
    <div class="prev">
      <a href="#">
        <img src="" alt="">
      </a>
    </div>
    <ul id="list-comment">
      <li class="item">
        <div class="avatar">
          <img src="" alt="">

        </div>
        <div class="stars">
                            <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
        </div>
        <div class="name">Nguyễn Trần Anh Trúc</div>

        <div class="text">
          <p>Tư vấn nhiệt tình chỉ cách chăm cây tận tình, được tặng thêm chậu đất xinh xinh</p>
        </div>
      </li>
      <li class="item">
        <div class="avatar">
          <img src="" alt="">

        </div>
        <div class="stars">
                            <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
        </div>
        <div class="name">Hoàng Gia Khương</div>

        <div class="text">
          <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book.</p>
        </div>
      </li>
      <li class="item">
        <div class="avatar">
          <img src="" alt="">

        </div>
        <div class="stars">
                            <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
          <span>
                                <img src="" alt="">
                            </span>
        </div>
        <div class="name">Hoàng Gia Huy</div>

        <div class="text">
          <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book.</p>
        </div>
      </li>
    </ul>
    <div class="next">
      <a href="#">
        <img src="" alt="">
      </a>
    </div>
  </div>
</div>

<div id="footer">
  <div class="box">
    <div class="logo">
      <img src="" alt="">
    </div>
    <p>Cung cấp mẫu cây cảnh chất lượng, độc đáo cho quý khách </p>
  </div>
  <div class="box">
    <h3>NỘI DUNG</h3>
    <ul class="quick-menu">
      <div class="item">
        <a href="">Trang chủ</a>
      </div>
      <div class="item">
        <a href="">Sản phẩm</a>
      </div>
      <div class="item">
        <a href="">Blog</a>
      </div>
      <div class="item">
        <a href="">Liên hệ</a>
      </div>
    </ul>
  </div>
  <div class="box">
    <h3>LIÊN HỆ</h3>
    <form action="">
      <input type="text" placeholder="Địa chỉ email">
      <button>Nhận tin</button>
    </form><p>content works!</p>
  </div>
</div>



