img{
  width: 100px;
  height: 100px;
}
#btnedit{
  margin-right: 20px
}

#add{
  width: 100px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding-left: 10px;
}
i{
  font-size: 20px;

}


