#wrapper {
  /* Kích thước màn hình là 1280 x 720 */
  width: 100%;
}

#header {
  width: 100%;
  padding:0px 30px;
  margin-top:33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo{
  width: 100px;
  height: 100px;
}


#menu {
  list-style:none;
  display: flex;
}

#menu .item {
  margin:0px 25px;

}

#menu .item a {
  color:#626A67;
  text-decoration: none;

}
#menu .item button{
  color:#626A67;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


#actions {
  display: flex;
}

#actions .item {
  margin-left:22px;
}

.exitText{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}
dialog{
  width: 300px;
}
form{
  display: flex;
  flex-direction: column;
}
