
<div id="wrapper">
<div id="header">
  <img class="logo" src="https://png.pngtree.com/png-vector/20230120/ourlarge/pngtree-rooted-tree-illustration-logo-design-png-image_6566841.png" alt="">

    <div id="menu">
      <div class="item">
        <a href="">Trang chủ</a>
      </div>
      <div class="item">
        <a href="">Sản phẩm</a>
      </div>
      <div class="item">
        <a href="">Blog</a>
      </div>
      <div class="item">
        <a href="">Liên hệ</a>
      </div>
      <div class="item">
       <button (click)="naviageAddProduct()">Admin Product</button>
      </div>
      <div class="item">
        <button (click)="naviageStockingProduct()">Admin Stocking</button>
      </div>
      <div class="item">
    <button (click)="naviage()">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>

    </div>
    </div>
    <div id="actions">
      <div class="item">
        <img src="" alt="">
      </div>
      <div class="item">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>


