<div id="table1">
  <table class="tui-table">
  <tbody>
  <tr class="tui-table__tr tui-table__tr_border_none">
    <th class="tui-table__th">Ảnh</th>
    <th class="tui-table__th">Tên Sản Phẩm</th>
    <th class="tui-table__th">Số lượng</th>
    <th class="tui-table__th">Mô tả sản phẩm</th>
    <th class="tui-table__th">Giá</th>
    <th class="tui-table__th tui-table__th_last">Chọn sản Phẩm</th>
  </tr>
    @for (item of this.cardServices.itemcard;track item.id){
    <tr>
      <td><img [src]="item.img"/></td>
      <td class="tui-table__td">{{item.name}}</td>
      <td class="tui-table__td">{{item.quantity}}</td>
      <td class="tui-table__td">{{item.description}}</td>
      <td class="tui-table__td">{{item.price}}</td>
      <td> <tui-checkbox class="tui-space_bottom-3"></tui-checkbox></td>
    </tr>
    }
  </tbody>
</table>

  <div class="table3">
    <div id ="donhang">
      <h1>Đơn Hàng:</h1>
      <label>1</label>
    </div>
    <div id ="soluong">
      <h1>Số Lượng</h1>
      <label>2</label>
    </div>
    <div id ="giamgia">
      <h2>Giảm Giá</h2>
      <label>3</label>
    </div>
    <div id ="tongbill">
      <h3>Tổng Bill:</h3>
      <label>4</label>
    </div>
    <button id="btn">Thanh Toán</button>
  </div>
</div>



<!--<div tuiCard>-->
<!--  <tui-badge-->
<!--    appearance="custom"-->
<!--    class="badge"-->
<!--  >-->
<!--    <tui-icon icon="tuiIconTarget"></tui-icon>-->
<!--    10 %-->
<!--  </tui-badge>-->

<!--  <h2 tuiTitle>-->
<!--    Title-->
<!--    <span tuiSubtitle>Subtitle</span>-->
<!--  </h2>-->
<!--</div>-->

<!--<div tuiCard>-->
<!--  <h2 tuiTitle>-->
<!--    Title-->
<!--    <span tuiSubtitle>Subtitle</span>-->
<!--  </h2>-->

<!--  <tui-badge-->
<!--    appearance="custom"-->
<!--    class="badge"-->
<!--  >-->
<!--    <tui-icon icon="tuiIconTarget"></tui-icon>-->
<!--    10 %-->
<!--  </tui-badge>-->
<!--</div>-->




